# Compiled binary
nestify.exe
*.exe

#Folder
templates
Note
config
reports

# Go
/go.work
/go.work.sum

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user

# Optional: hide .git in scans (if you want clean output)
.git/